<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/css/style.css" />
		<title>bash_config</title>
		<header>
			<a href="/dircolors">dircolors</a>
			<a href="/prompt">prompt</a>
			<a href="/variables">variables</a>
			<a href="/options">Options</a>
			<a href="/aliases">aliases</a>
			<a href="/functions">functions</a>
			<a href="/history">history</a>
			<a href="/bindings">bindings</a>
		</header>
	</head>
	<body>
