<h1>Variables</h1>

<main id="variables">
	<div><span>BASH_ENV</span><input type="text"></input></div>
	<div><span>CDPATH</span><input type="text"</input></div>
	<div><span>CHILD_MAX</span><input type="text"</input></div>
	<div><span>ENV</span><input type="text"</input></div>
	<div><span>EXECIGNORE</span><input type="text"</input></div>
	<div><span>FCEDIT</span><input type="text"</input></div>
	<div><span>FIGNORE</span><input type="text"</input></div>
	<div><span>FUNCNEST</span><input type="text"</input></div>
	<div><span>GLOBIGNORE</span><input type="text"</input></div>
	<div><span>HISTCONTROL</span><input type="text"</input></div>
	<div><span>HISTFILE</span><input type="text"</input></div>
	<div><span>HISTFILESIZE</span><input type="text"</input></div>
	<div><span>HISTIGNORE</span><input type="text"</input></div>
	<div><span>HISTSIZE</span><input type="text"</input></div>
	<div><span>HISTTIMEFORMAT</span><input type="text"</input></div>
	<div><span>HOSTFILE</span><input type="text"</input></div>
	<div><span>IGNOREEOF</span><input type="text"</input></div>
	<div><span>INPUTRC</span><input type="text"</input></div>
	<div><span>LANG</span><input type="text"</input></div>
	<div><span>LC_ALL</span><input type="text"</input></div>
	<div><span>LC_COLLATE</span><input type="text"</input></div>
	<div><span>LC_CTYPE</span><input type="text"</input></div>
	<div><span>LC_MESSAGES</span><input type="text"</input></div>
	<div><span>LC_NUMERIC</span><input type="text"</input></div>
	<div><span>LC_TIME</span><input type="text"</input></div>
	<div><span>MAIL</span><input type="text"</input></div>
	<div><span>MAILCHECK</span><input type="text"</input></div>
	<div><span>MAILPATH</span><input type="text"</input></div>
	<div><span>PATH</span><input type="text"</input></div>
	<div><span>POSIXLY_CORRECT</span><input type="text"</input></div>
	<div><span>PROMPT_COMMAND</span><input type="text"</input></div>
	<div><span>PROMPT_DIRTRIM</span><input type="text"</input></div>
	<div><span>PS0</span><input type="text"</input></div>
	<div><span>PS1</span><input type="text"</input></div>
	<div><span>PS2</span><input type="text"</input></div>
	<div><span>PS3</span><input type="text"</input></div>
	<div><span>PS4</span><input type="text"</input></div>
	<div><span>TIMEFORMAT</span><input type="text"</input></div>
	<div><span>TMOUT</span><input type="text"</input></div>
	<div><span>TMPDIR</span><input type="text"</input></div>
	<div><span>auto_resume</span><input type="text"</input></div>
	<div><span>histchars</span><input type="text"</input></div>
</main>
