<h1>Variables</h1>
<p>BASH_ENV</p>
<p>CDPATH</p>
<p>CHILD_MAX</p>
<p>ENV</p>
<p>EXECIGNORE</p>
<p>FCEDIT</p>
<p>FIGNORE</p>
<p>FUNCNEST</p>
<p>GLOBIGNORE</p>
<p>HISTCONTROL</p>
<p>HISTFILE</p>
<p>HISTFILESIZE</p>
<p>HISTIGNORE</p>
<p>HISTSIZE</p>
<p>HISTTIMEFORMAT</p>
<p>HOSTFILE</p>
<p>IGNOREEOF</p>
<p>INPUTRC</p>
<p>LANG</p>
<p>LC_ALL</p>
<p>LC_COLLATE</p>
<p>LC_CTYPE</p>
<p>LC_MESSAGES</p>
<p>LC_NUMERIC</p>
<p>LC_TIME</p>
<p>MAIL</p>
<p>MAILCHECK</p>
<p>MAILPATH</p>
<p>PATH</p>
<p>POSIXLY_CORRECT</p>
<p>PROMPT_COMMAND</p>
<p>PROMPT_DIRTRIM</p>
<p>PS0</p>
<p>PS1</p>
<p>PS2</p>
<p>PS3</p>
<p>PS4</p>
<p>TIMEFORMAT</p>
<p>TMOUT</p>
<p>TMPDIR</p>
<p>auto_resume</p>
<p>histchars</p>
